---
layout: default
title: Rich Blake blog
description: A list of all blog posts written by Rich Blake. 
featured_image: /images/social.jpg
---

<section class="listing single">
  <div class="wrap">

    <!-- Intro section -->
    <div class="listing-post">
      <div class="listing-post__content">
        <h1>Rich Blake blog</h2>
        <p>This is a home for my thoughts on some important things in my life. I'm trying to create new opportunities for 'Ah-ha! moments' as I try and process what's going in in my work, social and home life.</p>
        <p>My ambition is greater than my ability to beat the curse of writer's block, so I've put a backlog of my ideas up on my <a href="/progress.html">open backlog progress page</a>. Feel free to browse what I'm interested in and let me know if anything stands out to you.</p>
        <p></p>
        <h2>Latest posts</h2>
        <hr class="listing-divider">
      </div>
    </div>

    <!-- Post listings -->
    {% for post in paginator.posts %}
      <article class="listing-item">

        <h2 class="listing-item__title">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h2>

        <div class="listing-post__content">

          <p class="listing-metadata" aria-label="Post metadata">

            <time class="listing-item__date" datetime="{{ post.date | date: '%Y-%m-%d' }}">
              {{ post.date | date_to_long_string }}
            </time>

            {% if post.tags %}
              <span class="post-tags">
                {% for tag in post.tags %}
                  <span class="post-tag">{{ tag }}</span>
                {% endfor %}
              </span>
            {% endif %}

          </p>

          <p class="listing-item__excerpt">
            {{ post.excerpt }}
          </p>

        </div> 

      </article>

      <hr class="listing-divider">
    {% endfor %}

    {% if paginator.total_pages > 1 %}
      <div class="listing-post">
        <div class="listing-post__content">

          <section class="pagination">

            {% if paginator.previous_page %}
              <div class="pagination__prev">
                <a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large">
                  <i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span>
                </a>
              </div>
            {% endif %}

            {% if paginator.next_page %}
              <div class="pagination__next">
                <a href="{{ paginator.next_page_path | relative_url }}" class="button button--large">
                  <span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </div>
            {% endif %}

          </section>

        </div>
      </div>
    {% endif %}

  </div>
</section>
